@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Colors variable */
:root {
  --dark: #2d2d34;
  --white: #e6e6e6;
  --ruby: #e40066;
  --orange: #ff9f1c;
  --blue: #49c6e5;
  --tosca: #3aafb9;
  --montserrat: "Montserrat", sans-serif;
}

body {
  background-color: var(--dark);
  color: var(--dark);
  font-family: var(--montserrat);
}

.active {
  color: var(--white) !important;
}

/* navbar */
.navbar {
  background-color: var(--dark) !important;
}

.nav-item a:hover {
  color: var(--ruby) !important;
}

.navbar-toggler {
  border-width: 0;
}
/* end of navbar */

/* animation */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--ruby);
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/* end of animation */

/* main */
main {
  margin-top: 5rem;
  font-family: "Montserrat", sans-serif;
  animation: fadeIn ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation: fadeIn ease 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3rem;
}

.box {
  width: 20rem;
  height: 20rem;
  margin: 0 1.5rem;
  background-color: var(--white);
  padding: 0;
  border-radius: 20px;
  transition: all 0.3s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.box:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.box:active {
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}

.bg {
  background-image: url(../img/bmi.jpg);
  background-position: center;
  height: 12rem;
  background-size: cover;
  margin: 0;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}

main a {
  text-decoration: none;
}

.text {
  padding: 1rem;
  color: var(--dark);
}

.text p {
  font-size: 0.8rem;
}
/* end of main */

@media only screen and (max-width: 1200px) {
  .row {
    justify-content: center;
  }

  .box {
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 991.5px) {
  .navbar-nav {
    margin: 0 !important;
  }
}
